In [2]:
import psycopg

In [6]:
# basic connection code + cursor

conn = psycopg.connect(
    dbname = "testdb",
    user="postgres",
    password="postgres",
    host="localhost",
    port="5487"
)
print("Connected Successfully!")
cur = conn.cursor()

Connected Successfully!

In [ ]:
# Create table (if not already exists)
cur.execute("""
    CREATE TABLE IF NOT EXISTS names (
        firstname VARCHAR(100),
        lastname VARCHAR(100)
    )
""")
conn.commit()
print("Table created successfully!")

In [ ]:
# Insert data (if table is empty)
cur.execute("SELECT COUNT(*) FROM names")
if cur.fetchone()[0] == 0:
    cur.execute("""
        INSERT INTO names (firstname, lastname) VALUES
        ('Meenakshi', 'Sethi'),
        ('Bajrangi', 'Gupta')
    """)
    conn.commit()
    print("Data inserted successfully!")
else:
    print("Data already exists!")

In [ ]:
# Close the connection
cur.close()
conn.close()
print("Connection closed successfully!")

In [ ]:
# Read just 1 record
cur.execute("SELECT firstname, lastname FROM names LIMIT 1")
record = cur.fetchone()

if record:
    print("First record:")
    print(f"First Name: {record[0]}")
    print(f"Last Name: {record[1]}")
else:
    print("No records found")

In [ ]:
# Read all records
cur.execute("SELECT * FROM names")
records = cur.fetchall()

print("All records in the names table:")
print("-" * 40)
for row in records:
    print(f"First Name: {row[0]}, Last Name: {row[1]}")
print(f"\nTotal records: {len(records)}")